<% if user_signed_in? %>
    <% subjects = {sociales: 'Estudios Sociales', espanol:'Español', matematicas:'Matemáticas', ciencias:'Ciencias',
                   civica: 'Cívica', artes: 'Artes', musica: 'Música', idiomas: 'Idiomas'}.freeze %>
    <% [:sociales, :espanol, :matematicas, :ciencias, :civica, :artes, :musica, :idiomas].each do |subject| %>
        <a href="#">
          <div class="<%="gradient gradient-#{subject} text-center" %>">
            <span><%= subjects[subject]%></span>
          </div>
        </a>
    <% end %>
<% end %>