<% if user_signed_in? %>
    <% subjects.keys.each do |subject| %>
        <%= link_to root_path(subject_id: subject), remote: true do %>
          <div class="<%="gradient gradient-#{subject} text-center" %>">
            <span><%= subjects[subject]%></span>
          </div>
         <%end %>
    <% end %>
<% end %>