<div class="<%= "#{user_signed_in? ? "show" : "hide"}" %>">
    <div class="container">
      <div class="row">
        <div class="col-xs-2">

        </div>
        <div class="col-xs-8">
            <div class="row">
                <span> Prof: <%= current_user.name %></span>
            </div>
            <div class="row">

            </div>
        </div>
        <div class="col-xs-2">

        </div>
      </div>
    </div>
</div>