<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"> WELCOME </h1>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-6">
      <i class="fa fa-apple"></i>
    </div>
    <div class="col-xs-6">
      <i class="fa fa-git"></i>
    </div>
  </div>

  <div class="row">
    <div class="table-responsive">
      <table class="table">
        <tr class="active">
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
        </tr>
        <tr class="success">
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
        </tr>
        <tr class="warning">
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
        </tr>
        <tr class="danger">
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
        </tr>
        <tr class="info">
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
          <td> dummy data </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row custom">
    asdasdasdasdasdasdas
  </div>
</div>


